@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,900");
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  width: 100%;
  height: calc(100% + 50px);
  position: relative;
  overflow-x: hidden !important; }

#root {
  width: 100%;
  height: 100%;
  overflow-x: hidden !important; }

#copyright {
  color: white;
  position: absolute;
  bottom: 20px;
  left: 20px; }
  #copyright span {
    font-weight: 700; }

.main-form-container {
  width: 100%;
  height: 100vh;
  background-image: url("assets/images/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: flex-start; }
  @media only screen and (max-height: 1015px) {
    .main-form-container {
      height: 1015px; } }

.main-form-inner {
  width: 430px;
  padding: 120px 20px 20px 20px;
  height: auto; }
  @media only screen and (max-width: 430px) {
    .main-form-inner {
      padding: 30px 10px 10px 10px;
      width: 100%;
      overflow-x: none; } }
  .main-form-inner .form-title {
    margin-bottom: 60px; }
    .main-form-inner .form-title h1 {
      line-height: 1;
      margin: 0;
      color: #00c0f4;
      font-size: 32px;
      font-weight: 700;
      padding-bottom: 15px; }
    .main-form-inner .form-title p {
      margin: 0;
      text-transform: uppercase;
      color: white;
      font-size: 12px;
      font-weight: 700; }
  .main-form-inner .form-wrapper {
    position: relative;
    padding-bottom: 30px; }
    .main-form-inner .form-wrapper .form-title-inner {
      color: white;
      line-height: 1;
      padding-bottom: 30px; }
      .main-form-inner .form-wrapper .form-title-inner h2 {
        font-weight: 400;
        font-size: 32px;
        margin: 0;
        padding-bottom: 25px; }
        .main-form-inner .form-wrapper .form-title-inner h2 span {
          font-weight: 700; }
      .main-form-inner .form-wrapper .form-title-inner p {
        font-size: 16px;
        margin: 0; }
    .main-form-inner .form-wrapper .input-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center; }
      .main-form-inner .form-wrapper .input-wrapper .input-container {
        position: relative;
        z-index: 3;
        height: 76px;
        display: flex;
        flex-direction: column;
        justify-content: space-between; }
        @media only screen and (max-width: 430px) {
          .main-form-inner .form-wrapper .input-wrapper .input-container {
            width: 115px; } }
        .main-form-inner .form-wrapper .input-wrapper .input-container label {
          color: white;
          margin-bottom: 10px; }
        .main-form-inner .form-wrapper .input-wrapper .input-container input {
          height: 38px;
          font-family: 'Open Sans', sans-serif;
          color: #555555;
          font-size: 14px;
          font-weight: 400;
          border: 1px solid #cccccc;
          padding: 0 0 0 10px; }
          .main-form-inner .form-wrapper .input-wrapper .input-container input::-moz-placeholder {
            padding-left: 10px;
            color: #555555; }
          .main-form-inner .form-wrapper .input-wrapper .input-container input::-webkit-placeholder {
            padding-left: 10px;
            color: #555555; }
        .main-form-inner .form-wrapper .input-wrapper .input-container .select {
          position: relative;
          display: block; }
        .main-form-inner .form-wrapper .input-wrapper .input-container select {
          background-color: white;
          color: #555555;
          padding: 0 0 0 10px;
          font-size: 14px;
          font-weight: 400;
          border: 1px solid #cccccc;
          height: 40px;
          width: 120px;
          -webkit-appearance: none;
          -moz-appearance: none; }
          @media only screen and (max-width: 430px) {
            .main-form-inner .form-wrapper .input-wrapper .input-container select {
              width: 113px; } }
        .main-form-inner .form-wrapper .input-wrapper .input-container .party-size {
          padding: 0 0 0 20px; }
        .main-form-inner .form-wrapper .input-wrapper .input-container .select:before {
          content: "\f078";
          font-family: FontAwesome;
          color: #555555;
          position: absolute;
          right: 8px;
          bottom: -45px;
          background: transparent;
          z-index: 5;
          text-align: center;
          width: 20px;
          height: 20px;
          pointer-events: none;
          box-sizing: border-box; }
        .main-form-inner .form-wrapper .input-wrapper .input-container input[type="date"] {
          color: #555555;
          background-color: white;
          width: 140px;
          height: 38px;
          border: 1px solid #cccccc; }
          @media only screen and (max-width: 430px) {
            .main-form-inner .form-wrapper .input-wrapper .input-container input[type="date"] {
              width: 108px;
              padding-left: 5px; } }
        .main-form-inner .form-wrapper .input-wrapper .input-container input[type="time"] {
          color: #555555;
          background-color: white;
          width: 120px;
          height: 38px;
          border: 1px solid #cccccc; }
          @media only screen and (max-width: 430px) {
            .main-form-inner .form-wrapper .input-wrapper .input-container input[type="time"] {
              width: 103px;
              padding-left: 10px; } }
        @media only screen and (max-width: 430px) {
          .main-form-inner .form-wrapper .input-wrapper .input-container .time {
            width: 115px; } }
        .main-form-inner .form-wrapper .input-wrapper .input-container input[type=time]::-webkit-inner-spin-button {
          padding-top: 20px; }
        .main-form-inner .form-wrapper .input-wrapper .input-container input[type="time"]:before {
          color: transparent;
          background: none;
          display: block;
          font-family: 'FontAwesome';
          content: '\f017';
          width: 15px;
          height: 20px;
          position: absolute;
          top: 49px;
          right: 26px;
          color: #555555; }
          @media only screen and (max-width: 430px) {
            .main-form-inner .form-wrapper .input-wrapper .input-container input[type="time"]:before {
              right: 16px; } }
        .main-form-inner .form-wrapper .input-wrapper .input-container input[type=date]::-webkit-inner-spin-button {
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          display: none;
          padding-top: 20px; }
        .main-form-inner .form-wrapper .input-wrapper .input-container input[type=date]::-webkit-clear-button {
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          display: none; }
        .main-form-inner .form-wrapper .input-wrapper .input-container input[type="date"]::-webkit-calendar-picker-indicator {
          color: transparent;
          background: none;
          z-index: 1; }
        .main-form-inner .form-wrapper .input-wrapper .input-container input[type="date"]:before {
          color: transparent;
          background: none;
          display: block;
          font-family: 'FontAwesome';
          content: '\f073';
          width: 20px;
          height: 20px;
          background-color: white;
          position: absolute;
          margin-top: 2px;
          padding: 11px 8px 0 0;
          top: calc(100% - 40px);
          right: 1px;
          color: #555555; }
          @media only screen and (max-width: 430px) {
            .main-form-inner .form-wrapper .input-wrapper .input-container input[type="date"]:before {
              padding: 11px 0 0 0;
              right: 6px;
              width: 12px; } }
        .main-form-inner .form-wrapper .input-wrapper .input-container .error-span {
          z-index: -1;
          display: block;
          position: absolute;
          width: calc(100% + 4px);
          height: 44px;
          bottom: -2px;
          left: -2px;
          background-color: #f81717; }
      .main-form-inner .form-wrapper .input-wrapper.names-email {
        flex-wrap: wrap; }
        .main-form-inner .form-wrapper .input-wrapper.names-email .input-container:nth-of-type(1), .main-form-inner .form-wrapper .input-wrapper.names-email .input-container:nth-of-type(2) {
          width: calc(50% - 10px); }
        .main-form-inner .form-wrapper .input-wrapper.names-email .input-container:nth-of-type(3) {
          width: 100%;
          padding-top: 20px; }
      .main-form-inner .form-wrapper .input-wrapper.phone-notif {
        flex-wrap: wrap;
        padding-top: 20px; }
        .main-form-inner .form-wrapper .input-wrapper.phone-notif .input-container:nth-of-type(2) {
          width: 145px; }
          @media only screen and (max-width: 430px) {
            .main-form-inner .form-wrapper .input-wrapper.phone-notif .input-container:nth-of-type(2) {
              width: 115px; } }
        .main-form-inner .form-wrapper .input-wrapper.phone-notif .input-container:nth-of-type(4) {
          padding-top: 20px;
          height: auto;
          width: 100%; }
          .main-form-inner .form-wrapper .input-wrapper.phone-notif .input-container:nth-of-type(4) textarea {
            padding: 0;
            border: 1px solid #cccccc;
            width: calc(100% - 22px);
            height: 80px;
            resize: none;
            font-family: 'Open Sans', sans-serif;
            padding: 10px;
            color: #555555;
            font-size: 14px; }
    .main-form-inner .form-wrapper .buttons .check-button {
      margin-top: 25px;
      width: 100%;
      height: 35px;
      border: none;
      outline: none;
      color: white;
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      font-weight: 700;
      background-color: #00c0f4;
      transition: all .3s ease; }
      .main-form-inner .form-wrapper .buttons .check-button.confirm {
        margin-top: 25px; }
      .main-form-inner .form-wrapper .buttons .check-button.home {
        margin-top: 25px; }
      .main-form-inner .form-wrapper .buttons .check-button:hover {
        background-color: #4dd8ff; }
    .main-form-inner .form-wrapper .buttons .res-details {
      margin-top: 25px;
      width: calc(100% - 20px);
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 15px 10px;
      position: relative;
      z-index: 3; }
      .main-form-inner .form-wrapper .buttons .res-details:before {
        z-index: -1;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        background-color: #86806a;
        opacity: .5; }
      .main-form-inner .form-wrapper .buttons .res-details .res-details-block {
        height: 40px;
        color: white;
        font-size: 14px;
        display: flex;
        flex-direction: column;
        justify-content: space-between; }
        .main-form-inner .form-wrapper .buttons .res-details .res-details-block p {
          margin: 0; }
          .main-form-inner .form-wrapper .buttons .res-details .res-details-block p:first-of-type {
            font-weight: 400; }
          .main-form-inner .form-wrapper .buttons .res-details .res-details-block p:last-of-type {
            position: relative;
            font-weight: 700; }
        .main-form-inner .form-wrapper .buttons .res-details .res-details-block.icon p:last-of-type {
          padding-left: 20px; }
          .main-form-inner .form-wrapper .buttons .res-details .res-details-block.icon p:last-of-type:before {
            color: transparent;
            background: none;
            display: block;
            font-family: 'FontAwesome';
            content: '\f007';
            width: 15px;
            height: 17px;
            position: absolute;
            bottom: 0px;
            left: 0px;
            color: white; }
      .main-form-inner .form-wrapper .buttons .res-details .edit-button {
        padding: 0;
        width: 85px;
        height: 40px;
        display: block;
        border: 1px solid white;
        background-color: transparent;
        color: white;
        font-size: 14px;
        font-weight: 900;
        font-family: 'Open Sans', sans-serif;
        transition: all .3s ease; }
        .main-form-inner .form-wrapper .buttons .res-details .edit-button:hover {
          background-color: #00c0f4; }
      .main-form-inner .form-wrapper .buttons .res-details.confirm {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start; }
        .main-form-inner .form-wrapper .buttons .res-details.confirm .res-details-block {
          height: auto; }
          .main-form-inner .form-wrapper .buttons .res-details.confirm .res-details-block:nth-of-type(1) p:nth-of-type(1) {
            font-weight: 700; }
          .main-form-inner .form-wrapper .buttons .res-details.confirm .res-details-block:nth-of-type(1) p:nth-of-type(2) {
            font-weight: 400; }
          .main-form-inner .form-wrapper .buttons .res-details.confirm .res-details-block:nth-of-type(1) p:nth-of-type(3) {
            font-weight: 400; }
          .main-form-inner .form-wrapper .buttons .res-details.confirm .res-details-block:nth-of-type(2) {
            padding-top: 25px; }
            .main-form-inner .form-wrapper .buttons .res-details.confirm .res-details-block:nth-of-type(2) p:nth-of-type(1) {
              font-weight: 700; }
            .main-form-inner .form-wrapper .buttons .res-details.confirm .res-details-block:nth-of-type(2) p:nth-of-type(2) {
              font-weight: 400; }
      .main-form-inner .form-wrapper .buttons .res-details.home {
        margin-top: 0; }
    .main-form-inner .form-wrapper .buttons .res-details-info {
      color: white;
      line-height: 1;
      padding: 15px 0; }
      .main-form-inner .form-wrapper .buttons .res-details-info p {
        font-size: 16px;
        margin: 0; }
    .main-form-inner .form-wrapper .notes {
      position: absolute;
      top: 100%;
      left: 0;
      color: white;
      font-size: 14px;
      letter-spacing: 0.3px; }
      .main-form-inner .form-wrapper .notes .reservation-error {
        border: 2px solid #00c0f4;
        padding: 5px; }
        .main-form-inner .form-wrapper .notes .reservation-error.red {
          border: 2px solid red !important; }
      .main-form-inner .form-wrapper .notes .reservation-number {
        font-weight: 900; }
